@model IEnumerable<PersonalLibrary.Models.Emprestimo>

@{
    ViewBag.Title = "Livros Emprestados";
}

<p>
    @Html.ActionLink("Cadastrar Empréstimo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Emprestado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PessoaEmprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </th>
        <th>
            Ações
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Livro.Titulo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Emprestado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PessoaEmprestimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEmprestimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDevolucao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EmprestimoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EmprestimoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.EmprestimoId })
        </td>
    </tr>
}

</table>
