@model IEnumerable<PersonalLibrary.Models.Emprestimo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emprestado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PessoaEmprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emprestado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PessoaEmprestimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEmprestimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDevolucao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmprestimoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmprestimoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmprestimoId })
        </td>
    </tr>
}

</table>
