@model IEnumerable<PersonalLibrary.Models.Autor>

@{
    ViewBag.Title = "Autores";
}


<p>
    @Html.ActionLink("Cadastrar novo autor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Ações
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AutorId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AutorId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.AutorId })
        </td>
    </tr>
}

</table>
