<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Library</title>
    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>
                                Personal Library <small>A sua Biblioteca Pessoal na Internet !</small>
                            </h1>
                        </div>
                    </div>
                </div>
                
                <div class="carousel slide" id="carousel-584747">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-584747">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-584747">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-584747" class="active">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img alt="Carousel Bootstrap First" src="~/Content/img/img_1.jpg">
                            <div class="carousel-caption">
                                <h4>
                                    First Thumbnail label
                                </h4>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="Carousel Bootstrap Second" src="~/Content/img/img_2.jpg">
                            <div class="carousel-caption">
                                <h4>
                                    Second Thumbnail label
                                </h4>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                            </div>
                        </div>
                        <div class="item active">
                            <img alt="Carousel Bootstrap Third" src="~/Content/img/img_3.jpg">
                            <div class="carousel-caption">
                                <h4>
                                    Third Thumbnail label
                                </h4>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-584747" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-584747" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">
                            @ViewBag.Title
                        </h3>
                        <div class="row">
                            
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                @if (ViewBag.Erro != null)
                                {
                                <div class="alert alert-dismissable alert-danger">

                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        ×
                                    </button>
                                    <h4>
                                        Alerta!
                                    </h4> <strong>Aviso!</strong> @ViewBag.Erro
                                </div>
                                }

                               @RenderBody()
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center text-muted">
                            Sistema desenvolvido para a disciplina de LP3 - Professor Henrique Dezani
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/js/jquery.min.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/scripts.js")
    @RenderSection("scripts", required: false)
</body>
</html>