@model PersonalLibrary.Models.Livro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusLido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusLido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LivroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
