@model IEnumerable<PersonalLibrary.Models.Livro>

@{
    ViewBag.Title = "Livros";
}


<p>
    @Html.ActionLink("Cadastrar novo Livro", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Autor.Nome)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusLido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Autor.Nome)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusLido)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LivroId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.LivroId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.LivroId })
        </td>
    </tr>
}

</table>
